" leader
let mapleader=';'
" 
set mouse=a
" map
nnoremap <leader>w :w!<CR>
nnoremap H 0
nnoremap L $
nnoremap m 5j
nnoremap M 4k
nnoremap Q :q<CR>
vnoremap L g_
vnoremap fy "+y<ESC>
vnoremap m 5j
vnoremap M 4k
inoremap jk <ESC>
" 显示颜色
set t_Co=256
set laststatus=2
" clipboard
" set clipboard=unnamedplus
" 语法高亮
syntax on
" 上下保持五行(等号两边不能有空格)
set scrolloff=5
" 一边输入一边高亮 
set incsearch               
set smartcase
noremap <leader>h :nohlsearch<CR>
" 显示行号
set nu
" 显示当前按下的cmd
set showcmd
" 命令补全提示
set wildmenu
" 显示文件中的tab和空白符 (It's doesn't seem to work)
set listchars=tab:>-,trail:-
" 在处理未保存或只读文件的时候，弹出确认
set confirm
" 自动缩进
set autoindent
set cindent
" Tab键的宽度
set tabstop=4
" 统一缩进为4
set softtabstop=4
set shiftwidth=4
" 不要用空格代替制表符
set noexpandtab
" 高亮显示匹配的括号
set showmatch
" 匹配括号高亮的时间（单位是十分之一秒）
set matchtime=1
" 设置编码
set fileencodings=utf-8,ucs-bom,gb18030,gbk,gb2312,cp936
set termencoding=utf-8
set encoding=utf-8
" 突出显示当前行
set cursorline
" 打开回到上次编辑的位置
au BufReadPost * if line("'\"") > 1 && line("'\"") <= line("$") | exe "normal! g'\"" | endif
"寻找搜索结果，并将其置于屏幕中心
noremap = nzz               
noremap - Nzz

"右分屏，聚焦右窗口
noremap zl :set splitright<CR>:vsplit<CR>
"左分屏，聚焦左窗口
noremap zh :set nosplitright<CR>:vsplit<CR>
"上分屏，聚焦上窗口
noremap zk :set nosplitbelow<CR>:split<CR>
"下分屏，聚焦下窗口
noremap zj :set splitbelow<CR>:split<CR>


" No annoying sound on errors
set noerrorbells
set novisualbell
set t_vb=
set tm=500

